<p id="notice"><%= notice %></p>

<h1>Events</h1>

<div id="map" style="width: 100%; height: 300px;"></div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Index</th>
      <th>Venue</th>
      <th>Address</th>
      <th>City</th>
      <th>Event</th>
      <th>Subcategory</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @venues.each_with_index do |venue, i| %>
      <tr>
        <td><%= i %></td>
        <td><%= venue.name %></td>
        <td><%= venue.address %></td>
        <td><%= venue.city %></td>
        <% venue.events.each do |event| %>
          <% if @events.include?(event) %>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><%= event.name%></td>
              <td><%= event.subcategory%></td>
              <td><%= link_to 'Show', event %></td>
              <td><%= link_to 'Edit', edit_event_path(event) %></td>
              <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>
